
.path-container{
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    height: 25vh;
    
}
.home-title{
    font-size: 5vh;
    margin: 10px;
}
.home-text{
    font-size: 3vh;
    margin: 10px;
    padding:20px;
}
.path-button{
    height: 30vh;
    width: 30vw;
    padding: 20px;
    border-radius:20%;
    font-size: 4vh;
    background-color: #051937;
    color:#ADD8E6;
}

.text-container{
    color:#051937;
    width:70%;
}




